@import "../../style/config";
@import "../../style/common";

#setup {
   display: flex;
   flex-direction: column;
   align-items: center;
   
   img.logo {
      margin: 2em;
   }

   h1, h2 { margin: 0; }
   h2 { color: $darkerColor; }

   .columns {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      dl {
         padding: 0 0.5em 0.5em;
         background-color: $lightColor;
         margin: 0 0 0.5em;

         dt, dd {
            font-size: 0.75em;
         }
         dt {
            font-weight: bold;
            color: $darkerColor;
            margin-top: 0.5em;
            position: relative;
            padding-right: 2em;

            .material-icons {
               position: absolute;
               right: 0;
               color: $backgroundColor;
               cursor: pointer;
            }

            &:hover .material-icons {
               color: $darkerColor;
            }
         }
         dd {
            margin: 0;
            &.path {
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
            }
         }

         &:first-child {
            margin-right: 0.5em;
         }
      }
   }
}