@import "../style/config";
@import "../style/material-icons";
@import "../style/common";

body {
   padding: 0;
   margin: 0;
   font-family: $bodyFont;
}

div.view {
   padding: $space;
}

div.modal {
   position: absolute;
   top: $space * 5;
   width: 200px;
   margin: 0 auto;
}