@import "../style/config";

$logoSize: 55px;
$barHeight: 40px;

header.main {
   position: absolute;
   top: 0;
   width: 100%;
   height: $barHeight;
   color: $backgroundColor;
   background-color: rgba(0, 0, 0, 0.8);

   .title {
      font-family: $titleFont;
      font-size: 30px;
      line-height: 35px;
   }

   .logo {
      position: absolute;
      cursor: pointer;
      left: 50%;
      right: 50%;
      top: 5px;
      width: $logoSize;
      height: $logoSize;
      background-image: url('/img/logo.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: $logoSize $logoSize;
      opacity: 0.8;

      &:hover {
         opacity: 1;
      }
   }

   .material-icons {
      cursor: pointer;
      font-size: 40px;
      float: right;
      margin-right: 10px;
      opacity: 0.8;

      &:hover {
         opacity: 1;
      }

      &.menu {
         float: left;
      }
   }
}