// https://css-tricks.com/snippets/css/a-guide-to-flexbox/
div.offline-warning {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   color: #000;
   background-color: #ff0;

   display: flex;
   flex-direction: row;
   justify-content: space-between;

   i.material-icons, p {
      margin: 0 10px;
      color: #777;
   }

   p { align-self: center; }

   a {
      cursor: pointer;
      &:hover { color: #000; }
   }
}