@import "../style/config";

$checkboxSize: 50px;

div.selector {
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 1em;
   font-weight: bold;
   cursor: pointer;
   color: $darkColor;
   background-color: rgba(255, 255, 255, 0.7);
   width: $checkboxSize;
   height: $checkboxSize;
   border-radius: $checkboxSize/2;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

   &:hover {
      color: $linkColor;
      background-color: rgba(255, 255, 255, 1);
   }

   &:disabled {
      cursor: not-allowed;
      opacity: 0.2;
   }

   &.selected {
      color: #4a4;
   }

   &:active {
      box-shadow: none;
   }

   i.material-icons {
      font-size: $checkboxSize * 0.75;
   }
}