@import "../style/config";

nav.tabs {
   >ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 0;
      padding: 0;

      >li {
         cursor: pointer;
         display: inline-block;
         margin: 0 0.25em 0.25em 0;
         padding: 0.25em 1em 0.25em 0.5em;
         background-color: $darkColor;
         line-height: 2em;
         vertical-align: text-bottom;
         transition: background-color 0.2s ease;

         .material-icons {
            color: $darkerColor;
            padding: 0 0.2em 0.1em 0;
            vertical-align: text-bottom;
         }

         &:hover {
            background-color: $lightColor;
         }

         &.selected {
            cursor: inherit;
            background-color: $lightColor;
            margin-bottom: 0;
            border-bottom: 0.25em solid $lightColor;

            .material-icons {
               animation-name: example;
               animation-duration: 1.5s;
            }
         }
      }
   }
   .active-tab {
      background-color: $lightColor;
      padding: 1em;
   }

   @keyframes example {
      from { color: $highlightColor; }
      to { color: $darkColor; }
   }
}