@import "../style/config";

div.text-input {
   $radius: 5px;
   $height: $formFontSize + $space;

   input[type=text] {
      padding: 6px 0 1px 0;
      border: none;
      border-bottom: 2px solid $darkColor;
      background-color: $lightColor;
      vertical-align: top;
      text-align: center;
      height: $height;

      &:focus { outline: none; }
   }

   .input-prefix, .input-suffix {
      padding: 4px 0;
      height: $height;
      display: inline-block;
      font-size: $formFontSize;
      background-color: $lightColor;
      color: rgba(0, 0, 0, 0.7);
   }

   .input-prefix {
      padding-left: $space;
      border-radius: 0, 0, $radius, $radius;
   }
   .input-suffix {
      padding-right: $space;
      border-radius: $radius, $radius, 0, 0;
   }
   .input-tip {
      text-align: center;
      opacity: 0.3;

      &.error {
         opacity: 1;
         font-weight: bold;
         color: $errorColor;
      }
   }
}