@import "../style/config";

// https://github.com/aaronshaf/react-toggle/blob/master/style.css

$thumbDiameter: 27px;
$thumbMargin: 2px;
$offColor: #411;
$onColor: #494;

.toggle {
   touch-action: pan-x;

   display: inline-block;
   position: relative;
   cursor: pointer;
   background-color: transparent;
   border: 0;
   padding: 0;

   // -webkit-touch-callout: none;
   // -webkit-user-select: none;
   // -khtml-user-select: none;
   // -moz-user-select: none;
   // -ms-user-select: none;
   // user-select: none;

   // -webkit-tap-highlight-color: rgba(0,0,0,0);
   // -webkit-tap-highlight-color: transparent;

   &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
      transition: opacity 0.25s;
   }

   &.checked {
      .track {
         background-color: $onColor;
         .material-icons {
            &.off { opacity: 0; }
            &.on { opacity: 1; }
         }
      }
      .thumb {
         left: $thumbDiameter + 2;
      }
   }

   // &.focus {
   //    .thumb {
   //       box-shadow: 0 0 2px 3px $linkColor;
   //    }
   // }

   &:hover {
      .thumb {
         background-color: #fff;
         box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.3);
      }
   }

   .thumb {
      position: absolute;
      top: $thumbMargin;
      left: $thumbMargin;
      width: $thumbDiameter;
      height: $thumbDiameter;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.8);
      box-sizing: border-box;
      transition: left 0.2s ease;
   }

   .track {
      width: ($thumbDiameter + $thumbMargin) * 2;
      height: $thumbDiameter + ($thumbMargin * 2);
      padding: 0;
      border-radius: ($thumbDiameter + ($thumbMargin * 2)) / 2;
      background-color: $offColor;
      transition: background-color 0.2s ease;

      .material-icons {
         top: $thumbMargin * 2.5;
         position: absolute;
         font-size: $thumbDiameter * 0.85;
         transition: opacity 0.2s ease;
         color: rgba(255, 255, 255, 0.4);

         &.on {
            left: $thumbMargin * 2;
            opacity: 0;
         }

         &.off {
            right: $thumbMargin * 3;
            opacity: 1;
         }
      }
   }

   input {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
   }
}


