#unsupported {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-content: center;
   align-items: center;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   color: #ddd;
   background-color: #000;
   z-index: 1000;

   p, i {
      text-align: center;
   }

   p {
      font-size: 4em;
      margin: 0 2em;
   }

   i.material-icons {
      display: block;
      font-size: 10em;
   }
}