// https://css-tricks.com/snippets/css/a-guide-to-flexbox/
div.system-warning {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   color: #000;
   background-color: #ff0;

   display: flex;
   flex-direction: row;
   justify-content: space-between;

   p {
      margin: 0;
      align-self: center;
   }

   i.material-icons {
      margin: 0 10px;
      color: #777;

      &.close {
         cursor: pointer;
         &:hover { color: #000; }
      }
   }
}